@charset "EUC-JP";

/* 2005.12.26 */

* {
	margin: 0;padding: 0;
	word-break: break-all;
	word-wrap: break-word;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


textarea, input {
	font: normal normal normal 90%/100% "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, verdana ,arial ,sans-serif;
	padding: 2px 3px 0px;
}

form { margin:0px;padding:0px; }

img { border:0px; }

em {
	color:#933;
	font-style: normal;
	font-weight: bold;
}

ul,li { list-style:none; }

a                { text-decoration: none; }
a:link           { color: #039; }
a:link:hover     { color: #f60;text-decoration: underline; }
a:link:active    { color: #39C; }
a:visited        { color: #039; }
a:visited:hover  { color: #f60;text-decoration: underline; }


body {
  color: #000;
  font: normal normal normal 90%/130% "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, verdana ,arial ,sans-serif;
  background: #b7babe url("./common/background1.jpg");/* D8DADC */
  background-repeat: repeat-x;

  text-align: center;
  margin: 0px; padding: 0px;
}

table,tr,td {
  font: normal normal normal 100%/140% "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, verdana ,arial ,sans-serif;
}

thead td {
  background:#1B3D6A;
  color:#fff;
  text-align:center;
  font-weight:bold;
  padding:7px 10px;
}

th {
  background:#E1F7FF;
  text-align:right;
  padding:10px;
}

td {
  padding:5px;
}

td.line {
  background:#aaa;height:1px;padding:0px;
}

ul#globalmenu {
  height:35px;
  color:#fff;
  background: #000 url("./common/menu_guest00.gif");
}

ul#globalmenu li {
  float: left;

}

ul#softmenu {
  height:84px;
  padding:16px 17px 18px;

  color:#000;
  background: #fff;
}

ul#softmenu li {
  float: left;
}


h1 {
  height:32px;
  background-image: url("./common/icon_h1.gif");
  background-repeat: repeat-x;
  padding:7px 0px 4px 32px;
  border-style:solid;
  border-width:0px 1px 3px 1px;
  border-color:#ECECEC #ECECEC #3E3E3E #ECECEC;
  color:#3E3E3E;
  font-size:16px;
  line-height:120%;
  margin-bottom:10px;
}

h2 {
  padding:8px;
  margin:0px 0px 10px;
  background:#222;
  color:#FFF;
  font-size:16px;
  letter-spacing:2px;
  border-left:30px solid #000;
  border-bottom:2px solid #000;
}

h3 {
  font-size:14px;
  color:#222;
  border-bottom:1px solid #222;
  border-right:1px solid #222;
  border-left:28px solid #222;
  margin:0px 0px 10px;
  padding:5px 7px;
  background:#FFF;
}

h4 {
  font-size:14px;
  background:#666;
  color:#fff;
  margin:0px 0px 10px;
  padding:5px 10px;
}

h5 {
  font-size:12px;
  color:#222;
  border-bottom:1px dashed #666;
  margin:0px 0px 10px;
  padding:5px 7px;
  letter-spacing:4px;
  text-align:center;
}

h6 {
  margin:0px 0px 10px;
  padding:5px 7px;
  font-size:12px;
  border-left:28px solid #666;
}

h7 {
  font-size:12px;
  border-left:12px solid #666;
  border-right:12px solid #666;
  padding:5px 7px;
}


p { text-indent: 12px; }

div.infomation {
  margin:20px 0px;
  padding:10px;
  border:2px solid #ddd;

}

#TOP {
  width:759px;
  margin:0px auto;
}


/* mainboxとcopyは各個ページ用に合わせて作ってあるので、HOMEは別のCSSを定義すること */
.mainbox {
  width:759px;
  margin:0px auto;
  padding:10px 50px 13px;
  text-align: left;

  color:#000;
  background: #fff;
  font: normal normal normal 90%/140% "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, verdana ,arial ,sans-serif;
}


.inbox {
  background-image: url("./products/background.gif");
  background-repeat: repeat-y;
  border-collapse:collapse;
}

.inbox .menu {
  width:226px;
  padding:5px 3px 0px 7px;
  vertical-align:top;
}

.inbox .menu dl {
  margin-top:-5px;
  padding:0px 5px;
}
.inbox .menu dd {
  padding:5px 3px 4px 15px;
  border-bottom:1px dashed #999;
  background-image: url("./products/menu_icon.gif");
  background-repeat: no-repeat;
  background-position:0px 9px;
}

.inbox .menu ul {
  margin:2px -4px 0px -11px;
}

.inbox .menu li {
  padding:1px 5px;
  border-left:5px solid #36a;
  background:#fff;
  margin-bottom:2px;
}


.updater {
  background-image: url("./products/updater.jpg");
  background-repeat: no-repeat;
  background-position:5px 0px;
  padding:38px 10px 55px;
  text-align:center;
  font-weight:bold;
  height:102px;
}

.gototop { text-align:right;margin-bottom:10px; }

.inbox .text {
  padding:10px;
}

.inbox .text img {
  margin:10px 40px;
}


.inbox dl {
  margin-top:10px;
}


.inbox .text dt {

  background-image: url("./products/freemotion/topixicon.gif");
  background-repeat: no-repeat;
  background-position:8px 0px;

  font-size:12px;
  color:#fff;

  height:35px;
  margin:5px 0px 0px -10px;
  padding:9px 0px 0px 55px;
  letter-spacing:1px;
  font-weight:bold;
}

.inbox .text dd {
  margin-bottom:30px;
  padding:0px 7px;
}


.inbox .text h2{
  font-size:14px;
  background:#666;
  color:#fff;
  margin:-4px -11px 10px;
  padding:8px 10px;
  background:#444;
  border:none;
  letter-spacing:1px;
}


.navi {
  margin:5px 0px;
  font-size:12px;
  line:height:120%;
}

.copyright {
  font: normal normal normal 12px/100% verdana ,arial ,sans-serif;
  margin:40px -35px 0px;
  padding:10px 5px 0px;
  border-top:1px solid #000;
  clear:both; 
}
#copyright td.right { text-align:right;padding-right:10px; }


.attention {
  margin:20px;
  padding:5px;
  background:#660000 url("./common/bg_attention.gif");
  border:5px solid #300;
  color:#fff;
  font-weight:bold;
  text-align:center;
}
